*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "redhat";
}

body,html {
    direction: rtl;
    background: linear-gradient(to bottom, #ff5e88, #ff9966);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    @include media-query(360px){
        height: auto;
        margin-top: 100px;
    }
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

h1{
    font-size: clamp(1rem,calc(0.5rem + 2vw), 2.5rem);
    color: #fff;
    font-weight: 600;
}

h3 {
    font-weight: 600;
}

button {
    all: unset;
    cursor: pointer;

    :focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}


input {
    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}
