$gray-200:#cccccc;
$primary-color: #4CAF50;
$hover-color: #45a049;
$background-color: #f5f5f5;
$day-hover-bg: #f0f0f0;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$colors: (
    "black": black,
    "white": white,
    "gray-200":#cccccc,
);