.title{
    text-align: center;
    margin: 10px 0;
}


.calendar-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: $box-shadow;
    width: 380px;
    min-height: 425px;
    text-align: center;

    @include media-query(578px){
        width: 350px;
        min-height: 390px;
    }

    @include media-query(360px){
        width: 263px;
        min-height: 310px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .prev{
            border-top: 7px solid #000;
            border-right: 7px solid#000;;
            transform: rotate(45deg);
            border-radius: 3px;
            width: 12px;
            height: 12px;
        }

        .next{
            border-top: 7px solid #000;
            border-left: 7px solid #000;
            transform: rotate(-45deg);
            border-radius: 3px;
            width: 12px;
            height: 12px;
        }
    }

    .days-of-week {
        display: flex;
        margin-bottom: 10px;
        gap: 10px;

        @include media-query(360px){
            gap: 8px;
        }

        .weekday{
            width: 40px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            // background-color: #f5f5f5;
            // color: #000;
            font-size: clamp(0.4rem,calc(0.2rem + 2vw), 1.1rem);

            @include media-query(578px){
                width: 35px;
            }

            @include media-query(360px){
                width: 25px;
            }
        }
    }

    .days {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        @include media-query(360px){
            gap: 8px;
        }

        .day {
            width: 40px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #f5f5f5;
            color: #222;
            cursor: pointer;
            font-size: clamp(0.4rem,calc(0.2rem + 2vw), 1.1rem);

            @include media-query(578px){
                width: 35px;
            }

            @include media-query(360px){
                width: 25px;
            }

            &:hover {
                background-color: #d3d3d3;
            }

            &.no-color{
                opacity: 0;
                cursor: auto;
            }

            &.today{
                background-color: #c10000;
                color: white;
            }

            &.off-day{
                background-color: #ffe2dc;
            }
        }
    }
}

.convertor-container{
    background: #fff;
    padding:15px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px $box-shadow;
    width: 380px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;

    @include media-query(578px){
        width: 350px;
    }

    @include media-query(360px){
        width: 263px;
    }
}